<meta charset="utf-8"/>

<script>
  // 동적 스크립트 및 CSS
  // const requireCss = ["vendors/css/jquery.fullPage.css"];
  // loadCSS(requireCss);
   loadCSS("css/personal/style.main.css");

  const requireJs = [
    "js/views/scroll-main.js",
    "vendors/js/matter.min.js",
    //"js/views/main-matterScreen.js",
    "js/views/main-matter.js",
    "js/views/main.js"
  ];
  loadJS(requireJs);
    $("#btn_auto").click(function() {
        $(document).ready(function () {
            $('html, body').animate({
                scrollTop: $('#main_clock').offset().top
            }, 1200);
        });
    });

    $(document).ready(function(){
        $('#countdown').Countdown({
            rampung: new Date("Nov 08, 2045 19:42:52"),
            theme: "flat-colors-wide"
        });
    });
</script>
<div id="fullPage">
   <section class="main_section">
    <div class="main_content">
        <div class="main_text">
            <p>현재 지구에 남아있는 시간</p>
        </div>
        <div>
            <button type="button" id="btn_auto" class="btn btn-outline-success">▿</button>
        </div>
    </div>
  </section>
  <section class="main_section">
    <div class="main_content" id="main_clock">
        <div id="countdown"></div>
    </div>
  </section>
  <section class="main_section">
    <div id="mtt_wrap"></div>
  </section>
  <section class="main_section">
    <h2>section 4</h2>
  </section>
</div>
