<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/common/style.css">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <style>
    </style>
    <script>
        $(function () {
            let date = new Date();
            let year = date.getFullYear();
            let month = ("0" + (1 + date.getMonth())).slice(-2);
            let day = ("0" + date.getDate()).slice(-2);

            $('.pledge_date').text(year + "년 " + month + "월 " + day + "일");

            $("#pledge_btn").click(function () {
                //window.scrollTo(0, 0);
                downImg();
            });

            //<![CDATA[
            Kakao.init('d7e1e549f0dfd6fd3ce939221b6e4961');
            Kakao.Link.createDefaultButton({
                container: '#kakao_btn',
                objectType: 'feed',
                content: {
                    title: "지구방위대",
                    description: "제로웨이스트의 시작! 지구방위대와 함께해요🙂",
                    imageUrl: "",//"http://k.kakaocdn.net/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png",
                    link: {
                        webUrl: "http://earthguard.dothome.co.kr/",
                        mobileWebUrl: "http://earthguard.dothome.co.kr/"
                    }
                },
                buttons: [
                    {
                        title: 'Open!',
                        link: {
                            webUrl: "http://earthguard.dothome.co.kr/",
                            mobileWebUrl: "http://earthguard.dothome.co.kr/"
                        }
                    }
                ]
            });
            //]]>
        });

        function downImg() {
            html2canvas($("#img_pledge")[0], {
                scrollX: 0,
                scrollY: -window.scrollY
            }).then(function (canvas) {
                var myImage = canvas.toDataURL();
                downloadURI(myImage, "저장할 파일명.png")
            });
        }

        function downloadURI(uri, name) {
            var link = document.createElement("a")
            link.download = name;
            link.href = uri;
            document.body.appendChild(link);
            link.click();
        }

    </script>
</head>
<body>

<div class="main_content">
    <div class="main_title">
        <p>변화를 위한 작은 실천,</p>
        <p>함께 하실래요?</p>
    </div>
    <div class="main_pledge">
        <div id="img_pledge">
            <img src="../img/pledge.png" class="pledge_img img-fluid mx-auto"/>
            <div class="pledge_content">
                <p class="pledge_title">제로웨이스트 서약서</p>
                <input type="text" class="pledge_input" placeholder="이름을 입력하세요" maxlength="20">

                <div class="pledge_text">
                    <p>위 사람은 다음과 같이 제로웨이스트를 실천할 것을 악속합니다.</p>

                    <ol>
                        <li>텀블러를 소지하여 일회용품 사용을 줄이겠습니다.</li>
                        <li>장바구니 사용으로 일회용 비닐 사용을 줄이겠습니다.</li>
                        <li>배달음식 주문 시 일회용 수저를 받지 않겠습니다.</li>
                        <li>음식을 남기지 않겠습니다.</li>
                        <li>일주일에 1회 비건식을 섭취하겠습니다.</li>
                    </ol>

                    <p>추가할 글 같이 고민해주세용,,,,</p>
                </div>
                <div class="pledge_footer">
                    <p class="pledge_date">0000년 00월 00일</p>
                    <p class="pledge_logo">지구방위대</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:2rem;">
        <button type="button" id="kakao_btn" class="btn btn-light">카카오톡 공유하기</button>
        <button type="button" id="pledge_btn" class="btn btn-success">이미지 저장하기</button>
    </div>
</div>

</body>
</html>