<!--
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: views/main.html
    Create by 지구방위대, 홍예지 and 정윤아 on 2021-05-21 06:34:21.
-->

<script>
  (function () {
    // 동적 CSS 저의 - 라이브러리 및 개발자 별 CSS
    const requireCss = [
      // 개인별 CSS
      "css/personal/style.hong.css",
      "css/personal/style.zzang.css",
    ];

    // 동적 스크립트 정의 - 라이브러리 및 화면별 JS
    const requireJs = [
      // 화면 별 JS
      "js/views/introduce/introduce.js",
    ];

    loadCSS(requireCss);
    loadJS(requireJs);
  })();
</script>

<div id="fullPage">
  <!-- 소개하기 -->
  <section id="section1" class="section section2-first" data-anchor="first">
    <div class="main-fixed">
      <div class="intro-main">
        <div class="animation-intro">
          <!-- 제목 -->
          <div
            class="animation-title aos-init"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div
              class="main-title pt-5 aos-init"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <h1><span class="highlight">제로 웨이스트</span>(Zero Waste)</h1>

              <p class="pt-2 main-content">
                일상생활에서 사용되는 모든 자원과 제품을 재활용할 수 있도록
                디자인해 궁극적으로는 그 어떤 쓰레기도 매립되거나 바다에
                버려지지 않도록 하는 원칙을 말합니다.
              </p>
              <p class="pb-5 main-content">
                폐기물(wastes) 발생을 최대한 줄이고 사용한 폐기물에 대해서는
                재사용(reuse) 또는 재생이용(recovery)하며,<br />
                불가피하게 남은 폐기물은 환경에 미치는 영향을 최소화하여
                처리하는 것
              </p>
            </div>
          </div>

          <!-- 인포그래픽 -->
          <div class="animation-content">
            <!-- 그래픽1 -->
            <div
              class="animation-content-inner aos-init w-100"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-easing="ease-out-back"
              data-aos-delay="500"
            >
              <h3
                class="font-weight-bold aos-init mb-5 highlight"
                data-aos="fade-up"
                data-aos-duration="700"
              >
                "한마디로 생활 속에서 배출되는 쓰레기를 최소화하자는 사회적
                운동이죠."
              </h3>
              <img
                id="big_logo"
                src="././img/introduce/zerowaste.png"
                sizes="31.25"
                class="rounded mx-auto d-block"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section2" class="section section2-second" data-anchor="second">
    <div class="main-fixed">
      <div class="intro-main">
        <div class="animation-intro">
          <div class="aos-init" data-aos="fade-right" data-aos-duration="700">
            <h3 class="pt-5 mb-2 font-weight-bold text-center highlight">
              <i class="fas fa-check"></i> 코로나19로 인한 배달 및 포장 서비스의
              급증
            </h3>
            <h3 class="font-weight-bold text-center highlight">
              <i class="mt-10 pt-5 fas fa-check mb-5"></i> 코로나바이러스를
              차단하기 위한 마스크와 위생장갑 폐기물 증가
            </h3>
          </div>
          <!-- 제목 -->
          <div
            class="animation-title aos-init"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div
              class="main-title pt-3 aos-init"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <h1 class="pt-5">
                <span class="highlight">제로웨이스트챌린지</span>(Zero Waste)
              </h1>
            </div>
            <p class="pt-2 main-content">
              일상생활에서 사용되는 모든 자원과 제품을 재활용할 수 있도록
              디자인해 궁극적으로는 그 어떤 쓰레기도 매립되거나 바다에 버려지지
              않도록 하는 원칙을 말합니다.
            </p>
            <p class="pb-5 main-content">
              폐기물(wastes) 발생을 최대한 줄이고 사용한 폐기물에 대해서는
              재사용(reuse) 또는 재생이용(recovery)하며,<br />
              불가피하게 남은 폐기물은 환경에 미치는 영향을 최소화하여 처리하는
              것
            </p>
            <p class="pt-3 main-content">
              이렇듯 일상생활 속에서 배출되는 폐기물로 인하여 처리과정의
              어려움과 환경 문제의 심각성이 점점 부각되면서
            </p>
            <p class="main-content">
              쓰레기 발생을 줄이는사례를 공유하는 캠페인이 활성화되기
              시작했습니다.
            </p>
            <p class="main-content">
              이 같은 제로 웨이스트 챌린지는 사회관계망서비스(SNS) 등에 개개인이
              실제로 쓰레기를 줄인 사례를 게시한 뒤
            </p>
            <p class="main-content">
              #제로웨이스트챌린지, #ZeroWasteChallenge 등의 해시태그를 붙이면
              누구나 참여할 수 있습니다.
            </p>
          </div>

          <!-- 인포그래픽 -->
          <div class="animation-content">
            <!-- 그래픽1 -->
            <div
              class="animation-content-inner aos-init w-100"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-easing="ease-out-back"
              data-aos-delay="500"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section3" class="section section2-third" data-anchor="third">
    <div class="main-fixed">
      <div class="intro-main">
        <div class="animation-intro">
          <!-- 제목 -->
          <div
            class="animation-title aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            <div
              class="main-title pt-3 aos-init aos-animate"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <h1 class="pt-5">
                <span class="highlight">5R</span>(Zero Waste):
                <b>제로웨이스트를 실천하는 방법</b>
              </h1>
            </div>
          </div>
          <!-- 인포그래픽 -->
          <div class="animation-content2">
            <div
              class="intro-card pt-3 col-12 aos-init"
              data-aos="fade-up"
              data-aos-duration="700"
            >
              <div class="card-group">
                <div class="card p-3 m-5">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img
                          class="img-fluid"
                          src="././img/introduce/refuse0526.png"
                          alt="img"
                        />
                      </div>
                      <div class="col-8">
                        <p class="text-left">
                          거절하기는 쓰레기를 줄이는 가장 쉬운 실천방법입니다.
                          <br />명함, 빨대 등과 같이 무료로 나눠주는 것들을
                          거절함으로서 쓰레기를 줄일 수 있습니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card p-3 m-5">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img
                          class="img-fluid"
                          src="././img/introduce/recycle0526.png"
                          alt="img"
                        />
                      </div>
                      <div class="col-8">
                        <p class="text-left">
                          배출되는 쓰레기 중에는 재활용할 수 있음에도 버려지는
                          경우가 많습니다. <br />물건을 살 때 재활용 마크가
                          있는지 살피고, 재사용하도록 합니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-group">
                <div class="card p-3 m-5">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img
                          class="img-fluid"
                          src="././img/introduce/reduce0526.png"
                          alt="img"
                        />
                      </div>
                      <div class="col-8">
                        <p class="text-left">
                          꼭 필요한 물건만 사고, 포장이 적은 제품을 선택하는
                          구매 습관으로 쓰레기를 줄일 수 있습니다.
                          <br />또한, 장바구니와 텀블러 활용으로 일회용 쓰레기를
                          줄이는 것도 Reduce 원칙에 속합니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card p-3 m-5">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img
                          class="img-fluid"
                          src="././img/introduce/rot0526.png"
                          alt="img"
                        />
                      </div>
                      <div class="col-8">
                        <p class="text-left">
                          음식물이 무분별하게 버려지면 토양을 오염시키게 되지만,
                          음식물만 모아 썩히면 유기질 비료나 가축 사료로 사용할
                          수 있습니다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-group">
                <div class="card p-3 m-5">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img
                          class="img-fluid"
                          src="././img/introduce/reuse0526.png"
                          alt="img"
                        />
                      </div>
                      <div class="col-8">
                        <p class="text-left">
                          다시 쓸 수 있는 물건을 재사용하며 쓰레기를 줄일 수
                          있습니다. 일회용 플라스틱 용기를 씻어서 다시 사용하고,
                          건전지를 충전해서 재사용하는 방법으로 실천해봅시다.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card p-3 m-5 none">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-4"></div>
                      <div class="col-8">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <span class="scroll-down">
    <span class="scroll-txt">SCROLL</span>
    <button class="scroll-down-btn btn btn-success mx-auto">
      <i class="fas fa-angle-down"></i>
    </button>
    <button class="scroll-up-btn btn btn-success mx-auto d-none">
      <i class="fas fa-angle-up"></i>
    </button>
  </span>
</div>
