<!--
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: views/introduce/introduce.html
    Create by 지구방위대, 정윤아 on 2021-05-21 17:42:59.
-->
<script>
  (function () {
    // 동적 CSS 정의 - 라이브러리 및 개발자 별 CSS
    const requireCss = [
      // 개인별 CSS
      "css/personal/style.hong.css",
    ];

    loadCSS(requireCss);
  })();
</script>
<section class="container bg-white">
  <img
    id="big_logo"
    src="././img/favicon.png"
    class="rounded mx-auto d-block"
    alt="..."
  />
  <!-- 비슷한 것들은 style 지정하는게 좋음 -> .intro_gray_box !-->
  <!-- 부트스트랩에서 폰트사이즈를 제공하는 클래스 있음 !-->
  <div class="text-center text-monospace intro_gray_box">
    <p>제로 웨이스트(Zero Waste)란?</p>
    <p>
      일상생활에서 사용되는 모든 자원과 제품을 재활용할 수 있도록 디자인해
      궁극적으로는 그 어떤 쓰레기도 매립되거나 바다에 버려지지 않도록 하는
      원칙을 말합니다.
    </p>
    <p class="font-weight-bold">
      "한마디로 생활 속에서 배출되는 쓰레기를 최소화하자는 사회적 운동이죠."
    </p>
  </div>
  <h5 class="font-weight-bold red text-center size">
    <i class="fas fa-check"></i> 코로나19로 인한 배달 및 포장 서비스의 급증
  </h5>
  <h5 class="font-weight-bold red text-center size">
    <i class="fas fa-check"></i> 코로나바이러스를 차단하기 위한 마스크와
    위생장갑 폐기물 증가
  </h5>

  <h1 class="font-weight-bold text-center mb-5">제로웨이스트챌린지</h1>
  <div class="text-center text-monospace intro_gray_box">
    <p>
      이렇듯 일상생활 속에서 배출되는 폐기물로 인하여 처리과정의 어려움과 환경
      문제의 심각성이 점점 부각되면서 쓰레기 발생을 줄이는 사례를 공유하는
      캠페인이 활성화되기 시작했습니다. 이 같은 제로 웨이스트 챌린지는
      사회관계망서비스(SNS) 등에 개개인이 실제로 쓰레기를 줄인 사례를 게시한 뒤
      #제로웨이스트챌린지, #ZeroWasteChallenge 등의 해시태그를 붙이면 누구나
      참여할 수 있습니다.
    </p>
  </div>

  <div class="font-weight-bold text-center text-monospace intro_gray_box">
    <h1 class="font-weight-bold">
      <span class="green">5R</span> : 제로웨이스트를 실천하는 방법
    </h1>
  </div>
  <div class="card-group">
    <div class="card p3">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid" src="././img/favicon.png" alt="img" />
          </div>
          <div class="col-8">
            <p>
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card p3">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid" src="././img/favicon.png" alt="img" />
          </div>
          <div class="col-8">
            <p>
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card p3">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid" src="././img/favicon.png" alt="img" />
          </div>
          <div class="col-8">
            <p>
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card p3">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid" src="././img/favicon.png" alt="img" />
          </div>
          <div class="col-8">
            <p>
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
