<script>
  // 동적 스크립트 및 CSS
  loadCSS("vendors/css/test.css");
  const requireJS = ["vendors/js/test.js"];
  loadJS([], "js/views/introduce/replace-intro.js");
</script>
<!DOCTYPE >
<html>
  <head>
    <meta charset="utf-8" />
    <!--부트스트랩 CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>대체품 소개하기</title>
    <style>
      .container {
        text-align: center;
      }
      .text-left {
        text-align: left;
      }
      .text-center {
        text-align: center;
      }
      .text-right {
        text-align: right;
      }
      img.contentimg {
        width: 45em;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div style="height: 28rem"></div>
      <div style="height: 35rem", class="text-left">
        <p>제로웨이스트의 첫걸음을 내딛은 당신</p>
        <p>
          처음은 누구에게나 불편하지만, 익숙해지면 더 편한 세상이 당신을
          기다립니다.
        </p>
        <p>
          일상에서 자주 사용하는 것부터 일회용품이나 플라스틱이 아닌 것들로
          하나씩 채워볼까요?
        </p>
      </div>
      <div class="text-left">
        <p>1.</p>
      </div>
      <div style="height: 40rem">
        <img class="contentimg" src="대나무칫솔.jpg" style="float: left" />
        <p class="text-right">
          재활용되지 않는 플라스틱 칫솔 대신,<br />생분해되는 대나무 칫솔을
          사용해보세요.
        </p>
      </div>
      <div style="height: 50rem">
        <p class=>
          당신의 입안이 시원해질때, 지구도 시원함을 느낍니다.
        </p>
      </div>
      <div class="text-left">
        <p>2.</p>
      </div>
      <div style="height: 22rem">
        <p>
          "깨끗하게 비우기 어려운 샴푸용기"<br />
          "화학성분 가득한 주방세제"<br />
          "미세플라스틱으로 생태계를 위협하는 세탁세제"<br />.<br />.<br />.
        </p>
        <p>플라스틱 용기에 담겨진 각종 세정제는<br />지구를 해치고 있습니다.</p>
      </div>
      <div style="height: 22rem">
        <p>
          우리 몸도, 지구도 깨끗해질 수 있는<br />
          천연 고체 세정용품은 어떠세요?
        </p>
        <p>어느 것 하나 남김없이 씻어낼 수 있습니다.</p>
      </div>
      <div class="row" , style="height: 70rem">
        <div class="col-sm-4">
          <img src="샴푸바.jpg" alt="샴푸바" style="width: 15rem" />
          <div style="height: 5rem"></div>
          <p>용기가 필요없는 샴푸바</p>
        </div>
        <div class="col-sm-4">
          <img src="설거지비누.jpg" alt="설거지비누" style="width: 15rem" />
          <div style="height: 5rem"></div>
          <p>성분 걱정 없는 설거지비누</p>
        </div>
        <div class="col-sm-4">
          <img src="소프넛.jpg" alt="소프넛" style="width: 15rem" />
          <div style="height: 5rem"></div>
          <p>99% 천연세탁세제, 소프넛</p>
        </div>
      </div>
      <div class="text-left">
        <p>3.</p>
      </div>
      <div style="height: 50rem">
        <img class="contentimg" src="물티슈.jpg" style="float: right" />
        <p class="text-left">
          편리함과 휴대성에<br />생필품으로 자리잡은 물티슈.
        </p>
        <p class="text-left">
          물티슈의 원단에는 분해되지 않는<br />플라스틱과 방부제가 들어있습니다.
        </p>
      </div>
      <div style="height: 22rem">
        <p>
          당장 물로 씻어낼 수 없다면, 빨아 쓸 수 있는 소창수건을 사용해보세요.
        </p>
      </div>
      <div style="height: 90rem">
        <img class="contentimg" src="소창수건.jpg" style="width: 40rem" />
        <div style="height: 5rem"></div>
        <p>순면 100%, 무형광, 무표백</p>
        <p>소창은 빨면 빨수록 부드러워진답니다.</p>
      </div>
      <div class="text-left">
        <p>4.</p>
      </div>
      <div style="height: 22rem">
        <p>먹다 남음 음식</p>
        <p>어떻게 보관하시나요?</p>
      </div>
      <div style="height: 55rem">
        <img class="contentimg" src="실리콘덮개.jpg" style="float: left;"/>
        <p class="text-right">
          비닐랩과 비닐봉지 대신,<br />실리콘덮개와 실리콘백을 사용해보세요.
        </p>
      </div>
      <div style="height: 50rem">
        <p>
          액체, 고체 뭐든 OK!<br />
          찢어질 염려 없이 장기사용이 가능합니다
        </p>
      </div>
      <div style="height: 35rem">
        <p>소비로 끝나는 실천이 아닌,</p>
        <p>천천히 조금씩 바꿔나가는</p>
        <p>오래 지속 가능한 당신의 제로웨이스트 라이프를 응원합니다.</p>
      </div>
    </div>
  </body>
</html>
