<!--
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: views/FAQ/question.html
    Create by 지구방위대, 정윤아 on 2021-05-21 18:06:40.
-->
<script>
  (function () {
    // 동적 CSS 정의 - 라이브러리 및 개발자 별 CSS
    const requireCss = [
      // 개인별 CSS
      "css/personal/style.hong.css",
    ];

    loadCSS(requireCss);
    const items = document.querySelectorAll(".question");

    function openCloseAnswer() {
      const answerId = this.id.replace("que", "ans");

      if (document.getElementById(answerId).style.display === "block") {
        document.getElementById(answerId).style.display = "none";
        document.getElementById(this.id + "-toggle").textContent = "+";
      } else {
        document.getElementById(answerId).style.display = "block";
        document.getElementById(this.id + "-toggle").textContent = "-";
      }
    }

    items.forEach((item) => item.addEventListener("click", openCloseAnswer));
  })();
</script>
<section class="container p-5">
  <!-- 부트스크랩에 .card 클래스를 사용하면 깔끔함! -->
  <div class="faq-content">
    <button class="question" id="que-1">
      <span id="que-1-toggle">+</span><span>'HTML'이란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-1">
      하이퍼텍스트 마크업 언어(HyperText Markup Language)입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-2">
      <span id="que-2-toggle">+</span><span>'CSS'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-2">
      캐스케이딩 스타일 시트(Cascading Style Sheets)입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-3">
      <span id="que-3-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-3">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-4">
      <span id="que-4-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-4">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-5">
      <span id="que-5-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-5">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-6">
      <span id="que-6-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-6">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-7">
      <span id="que-7-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-7">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-8">
      <span id="que-8-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-8">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-9">
      <span id="que-9-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-9">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
  <div class="faq-content">
    <button class="question" id="que-10">
      <span id="que-10-toggle">+</span><span>'JavaScript'란 무엇인가요?</span>
    </button>
    <div class="answer" id="ans-10">
      자바스크립트는 객체(Object)를 기초로 하는 스크립트 프로그래밍 언어입니다.
    </div>
  </div>
</section>
