@charset "utf-8";
/*
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: css/personal/style.yang.css
    Create by 지구방위대, 양송희 on 2021-05-21 05:56:56.
*/

@media screen and (max-width: 600px) {
  p.youtuber-content {
    margin-left: 0;
    margin-right: 0;
  }
  img.contentimg {
    width: 13.5rem;
    height: 7.2rem;
  }
  div.intro {
    overflow: hidden;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  p.youtuber-content {
    margin-left: 0;
    margin-right: 0;
  }
  img.contentimg {
    width: 22.5rem;
    height: 12rem;
  }
  div.intro {
    overflow: hidden;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  p.youtuber-content {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 960px) {
  p.youtuber-content {
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  img.contentimg {
    width: 30rem;
    height: 16rem;
  }
  div.intro {
    overflow: hidden;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
  p.youtuber-content {
    font-size: 1.2rem;
  }
}
div.imgs {
  margin: 1rem auto 1rem;
  width: inherit;
  text-align: center;
}
p.DoubleQ {
  float: left;
}
p.intro {
  float: left;
  margin: 0 auto;
}
p.main {
  float: left;
}
div.title {
  overflow: hidden;
  float: right;
}
img.profile {
  width: 5.5rem;
  height: 5.5rem;
}
.youtuber_bg {
  -webkit-text-size-adjust: none;
  width: auto;
  height: auto;
  background-image: url(../../img/introduce/background_youtuberintro.png.png);
  background-repeat: no-repeat;
}
h3.youtuber-name {
  margin: 0.5rem 0 1rem 1rem;
}
div.separation {
  background-color: #cde0ed;
  width: auto;
  height: auto;
  align-content: center;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
}
