@charset "utf-8";
/*
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: css/personal/style.yang.css
    Create by 지구방위대, 양송희 on 2021-05-21 05:56:56.
*/
div.imgs {
  margin: 2rem auto 2rem;
  text-align: center;
  width: 100%;
  padding: 0 2rem 0 2rem;
  overflow: hidden;
}
p.intro {
  margin: 0 auto;
  width: auto;
  text-align: center;
  height: 4rem;
  display: block;
  padding-top: 20rem;
  padding-bottom: 20rem;
}
div.title {
  overflow: hidden;
}
img.profile {
  width: 5.5rem;
  height: 5.5rem;
  float: left;
}
h3.youtuber-name {
  margin: 2rem 0 1rem 0;
  padding: 0 0 0 1rem;
  float: left;
}
div.separation {
  color: #fff;
  width: auto;
  height: auto;
  align-content: center;
  margin: 2rem 0 2rem 0;
  padding: 3rem;
  background-color: var(--scroll-circle);
  border-radius: 2rem;
}

.responsive-box {
  padding: 17% 0 0 0;
  position: relative;
  width: 33.33%;
  float: left;
}

.target {
  border: 0;
}
p.youtuber-content {
  align-content: center;
  padding: 3rem 2rem 3rem 2rem;
  text-align: center;
  clear: both;
  font-size: 1.5rem;
}
.wrap {
  width: 100%;
  padding: 0 2rem 0 2rem;
  overflow: hidden;
}

img.contentimg {
  position: relative;
  width: 33.33%;
  float: left;
}
