@charset "utf-8";
/*
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: css/personal/style.song.css
    Create by 지구방위대, 송예지, 정윤아 on 2021-05-21 05:56:47.
*/
.main_content {
  width: 100vw;
  height: -moz-calc(100vh - 105px); /* Firefox */
  height: -webkit-calc(100vh - 105px); /* Chrome, Safari */
  height: calc(100vh - 105px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_content .main_text {
  text-align: center;
  color: #3a7a34;
  font-size: 4.5rem;
  font-weight: bold;
}

.main_title {
  text-align: center;
  margin: 1.5rem 0;
  padding: 0 !important;
  color: var(--text-general);
  font-size: 2rem;
  font-weight: bold;
}

.main_title p {
  margin: 0;
}

.content_text {
  margin: 0.3rem 0;
  line-height: 2rem;
  font-family: "NanumSquare";
  font-size: 1.1rem;
  color: var(--text-bold);
  letter-spacing: 0.1rem;
  text-align: center;
}

/*countdown css*/
#main_clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.ClassyCountdown-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.ClassyCountdown-wrapper > div {
  justify-content: center;
  position: relative;
  min-width: 10rem;
  margin: 0.5rem;
  width: calc(16.66% - 6rem);
  display: inline-flex;
  height: calc(16.66% - 6rem);
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.ClassyCountdown-wrapper .ClassyCountdown-value {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_pledge {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.main_pledge p {
  margin: 0;
}

.pledge_content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pledge_img {
  max-width: 31.25rem;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.2),
    0 8px 16px -8px rgba(0, 0, 0, 0.1), 0 -6px 16px -6px rgba(0, 0, 0, 0.02);
}

.pledge_title {
  color: #4f6d54;
  font-size: 2.5rem;
  font-weight: bold;
}

.pledge_input {
  font-family: "NanumSquare";
  text-align: right;
  font-size: 1rem;
  color: #282e34;

  background: transparent;
  width: 10rem;

  margin: 1rem 0 1rem 14rem;
  padding: 0.2rem 0.5rem;

  border: 0;
  border-bottom: 1px solid #e3e8ec;
}

.pledge_input:focus {
  border-color: #4f6d54;
  outline: none;
}

.pledge_text {
  font-family: "NanumSquare";
  font-size: 0.9rem;
}

.pledge_text p {
  margin: 1.5rem 0 !important;
}

.pledge_text ol {
  text-align: left;
}

.pledge_text ol li {
  margin: 0.3rem 0;
}

.pledge_footer {
  margin: 2rem 0;
}

.pledge_date {
  font-family: "NanumSquare";
  margin: 0;
}

.pledge_logo {
  color: #4f6d54;
  font-size: 1.6rem;
  font-family: "UhBeeKeongKeong";
}

.certify_header {
  margin: 3rem 0;
}
.certify_title {
  text-align: center;
  margin: 1.5rem 0;

  color: #4e7948;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.certify_text {
  margin: 2rem 0;
}
.certify_text p {
  margin: 0.3rem 0;

  font-family: "NanumSquare";
  font-size: 1.1rem;
  color: var(--text-bold);
  letter-spacing: 0.1rem;
  text-align: center;
}
.certify_text_mobile {
  display: none;
}
.certify_content {
  padding: 0 25%;
  text-align: center;
}
.certify_content p {
  margin: 1rem 0;

  text-align: center;
  color: #6d6155;
  font-size: 1.2rem;
  font-weight: bold;
}
.certify_footer {
  padding: 2rem 0;
  text-align: center;
}

.card-body_badge {
  flex: 1 1 auto;
  padding: 1.5rem 20%;
  background: var(--sub-background) !important;
  border: 0 !important;
  color: var(--text-bold);
}
.card-body_badge p {
  text-align: left;
  margin: 0;
}

.card-body_badge .badge_area {
  margin: 1rem 0 0.5rem 0;
}

.card-body_badge .badge_title {
  font-family: "NanumSquare";
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 850;
}

.card-body_badge .badge_subtitle {
  font-family: "NanumSquare";
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

.card-body_badge .badge_text {
  margin: 0.2rem 0;
}

.card-body_badge .badge_text p {
  text-align: left;
  margin: 0;
  font-size: 1.1rem;
}

.badge_level {
  margin: 0.6rem 0 0.8rem 0;
}
.badge_level p {
  text-align: center;
  margin: 0.1rem 0;
  letter-spacing: 0.1rem;
}
.badge_all {
  border-radius: 50%;
  width: 100%;
}
.opacity_1 {
  opacity: 16.6%;
}
.opacity_2 {
  opacity: 33.3%;
}
.opacity_3 {
  opacity: 49.8%;
}
.opacity_4 {
  opacity: 66.4%;
}
.opacity_5 {
  opacity: 83%;
}
.badge_round {
  margin: auto;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0.5rem 0rem rgba(50, 50, 50, 0.05);
  max-width: 15rem;
}
.badge_get {
  border: 0.2rem solid var(--text-bold);
}
.badge_active {
  border: 0.4rem solid var(--text-bold);
}

.modal_certify_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0 0 0;
}
.modal_certify_body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  margin: 0 2rem;

  border-radius: 2rem;
  border: none !important;
}
.modal_certify-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;

  border-radius: 2rem;
  border: none !important;
}
.modal_certify-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 2.4rem;
}
.modal_certify-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  margin: 0 0 3rem 0;
}
.modal_photo_footer,
.modal_photo_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem !important;
}
.modal_photo_body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  margin: 0 2rem;

  border-radius: 2rem;
  border: none !important;
}
.modal_photo_content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;

  border-radius: 2rem;
  border: none !important;
}
@media (max-width: 768px) {
  .sub_detail {
    display: none;
  }
  .certify_text_mobile {
    display: block;
  }
}
.hashtag_photo {
  width: 100%;
  padding: 1rem 0;
}
.hashtag_more {
  display: none;
}
#btn_hide {
  display: none;
}
#modal_iframe {
  width: 100%;
  height: 35rem;
  margin: auto;
}

.section {
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.section-first {
  background-image: url("../../img/background/main01.png");
}

.section-second {
  background-image: url("../../img/background/main02.png");
}

.section-forth {
  background-image: url("../../img/background/main04.png");
}

.section-fifth {
  background-image: url("../../img/background/main05.png");
}

.section-sixth {
  background-image: url("../../img/background/main06.png");
}

.section-seventh {
  background-image: url("../../img/background/main07.png");
}

.section-last {
  background-image: url("../../img/background/main08.png");
}
