@charset "utf-8";
/*
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: css/personal/style.zzang2.css
    Create by 지구방위대, 정윤아 on 2021-05-21 05:58:30.
*/

/* fullPage */
.scroll-down {
  z-index: 300;
  font-weight: bold;
  color: var(--main-geen);
  text-align: center;
  position: fixed;
  bottom: 2rem;
  right: 50%;
}
.scroll-down button {
  display: block;
  font-size: 13px;
  font-weight: 100;
  color: #fff;
}

/* 툴팁 */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: var(--scroll-circle);
}
#fp-nav ul li a span {
  text-indent: -9999px;
}
#fp-nav.right {
  z-index: 300;
  right: 4rem;
  bottom: 3.5rem;
  top: auto;
  font-weight: bold;
}
#fp-nav ul li a.active + .fp-tooltip {
  display: block !important;
}

.scroll-down .btn-success {
  background-color: var(--main-geen);
}
/* main */

.section {
  z-index: 0;
  text-align: center;
}

.main-fixed {
  width: 100vw;
  height: -moz-calc(100vh - 4.5rem); /* Firefox */
  height: -webkit-calc(100vh - 4.5rem); /* Chrome, Safari */
  height: calc(100vh - 4.5rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-auto {
  width: 100vw;
  height: -moz-calc(100vh - 4.5rem); /* Firefox */
  height: -webkit-calc(100vh - 4.5rem); /* Chrome, Safari */
  height: calc(100vh - 4.5rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-main {
  padding: 0 10rem 0 5rem;
}

/* 지구 현재 시간 */
.section-first {
  z-index: 200;
}
.section-first .intro-title p {
  text-align: center;
  color: #3a7a34;
  font-size: 5rem;
  font-weight: bold;
}

.main-title {
  text-align: center;
  margin: 1.5rem 0;
  padding: 0 !important;
  color: var(--text-general);
  font-size: 2rem;
  font-weight: bold;
}

.main_title p {
  margin: 0;
}

.content_text {
  margin: 0.3rem 0;
  line-height: 2rem;
  font-size: 1.1rem;
  color: var(--text-bold);
  letter-spacing: 0.1rem;
  text-align: center;
}

/* 지구의 시간 */
.section-second {
  z-index: 200;
}

/* 쓰레기 처리 */
.section-third .main-fixed {
  background: var(--water-color);
}

#mtt_wrap canvas {
  z-index: 1;
}
.earth-main {
  width: 100%;
  position: absolute;
  margin: 0;
  height: calc(100% - 4rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.earth {
  background: url(../../img/main/earth.png) no-repeat 50%;
  background-size: 20rem;
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid #ccc;
  text-align: center;
  color: #ddd;
  margin-top: 3rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  z-index: 100;
}
.earth-main:before {
  content: "";
  position: absolute;
  width: calc(100% + 100rem);
  height: calc(100% + 100rem);
  background: rgb(247, 242, 230);
  bottom: 0;
  left: 50%;
  transform: translateX(-30%);
  border-radius: 30%;
  /*animation: fill 10s ease-in-out infinite;*/
  animation: fill 14s linear infinite;
  transform-origin: 50% 50%;
  z-index: 0;
}
@keyframes fill {
  0% {
    bottom: 0;
    transform: translateX(-50%) rotate(0deg);
  }
  60% {
    bottom: 100%;
    transform: translateX(-50%) rotate(360deg);
  }
  100% {
    bottom: 100%;
    transform: translateX(-50%) rotate(360deg);
  }
}
/* 애니메이션 */
.animation-intro {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}
.animation-title {
  font-weight: bold;
  flex-direction: column;
}
.animation-title .highlight {
  font-weight: bold;
  color: var(--text-highlight) !important;
}
.animation-title .main-content {
  font-size: 1.5rem;
}

.animation-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.animation-content-inner {
  margin-top: 1rem;
}
.section-forth .animation-content-inner:last-of-type {
  margin: 3.5rem;
}
.animation-content-inner li {
  list-style: none;
}

/* 자원 순환 */
.animation-content-inner .recycle-step-box1 {
  flex-direction: column;
  display: inline-flex;
  width: 45rem;
  border: 0.2rem solid var(--main-geen);
  border-radius: 2rem;
  background-color: var(--white);
  overflow: hidden;
}
.animation-content-inner .recycle-step-box1 .tit {
  width: 100%;
  background-color: var(--main-geen);
  font-size: 2rem;
  color: var(--white);
  line-height: 1;
  padding: 2rem;
  font-weight: 400;
}

.recycle-step-box1 .recycle-step-list {
  padding: 1rem;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.recycle-step-box1 .recycle-step-list li {
  display: inline-flex;
}

.recycle-step-box1 .recycle-step-list .list-content {
  display: inline-flex;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.recycle-step-box1 .recycle-step-list .list-content .ico {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #eee;
  background-size: 5rem;
}
.recycle-arrow {
  width: 8rem;
  height: 8rem;
  display: inline-flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 3.5rem;
}

.recycle-arrow .arrow-ico {
  background: url(../../img/main/recycle_arrow.png) no-repeat 50% 50%;
  background-size: 2.5rem 1rem;
  width: 2.5rem;
  height: 2rem;
}

.recycle-step-box1 .recycle-step-list li:nth-child(1) .ico {
  stroke: #fff;
  background: var(--main-recycle1) url(../../img/main/recycle01.png) no-repeat
    50% 50%;
  background-size: 5rem;
}
.recycle-step-box1 .recycle-step-list li:nth-child(2) .ico {
  border: #fff;
  background: var(--main-recycle2) url(../../img/main/recycle02.png) no-repeat
    50% 50%;
  background-size: 5rem;
}
.recycle-step-box1 .recycle-step-list li:nth-child(3) .ico {
  stroke: #fff;
  background: var(--main-recycle3) url(../../img/main/recycle03.png) no-repeat
    50% 50%;
  background-size: 5rem;
}

.recycle-step-box1 .recycle-step-list li:nth-child(4) .ico {
  stroke: #fff;
  background: var(--main-recycle4) url(../../img/main/recycle04.png) no-repeat
    50% 50%;
  background-size: 5rem;
}

.arr-area {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem;
}

.arr-area .arr {
  display: block;
  width: 0;
  height: 0;
  border-left: 2rem solid #1ba767;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: none;
}
.arr-area .arr.arr1 {
  animation: arr1 1s infinite;
}
.arr-area .arr.arr2 {
  animation: arr2 1s 0.15s infinite;
}
.arr-area .arr.arr3 {
  animation: arr3 1s 0.3s infinite;
}

.recycle-step-box2 {
  display: inline-flex;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 3rem solid #f2f2f2;
  background-color: #fff;
}

.recycle-step-box2 .recycle-arr {
  display: inline-block;
  background: url(../../img/main/recycle-step1-arr2.png) no-repeat 50% 50%;
  width: 30rem;
  background-size: 28rem;
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  animation: recycle 50s infinite;
}
.recycle-step-box2 .recycle-step-list {
  position: absolute;
  width: 100%;
  display: inline-flex;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  /* align-items: center; */
  /* align-self: center; */
  justify-content: center;
}

.recycle-step-box2 .recycle-step-list li {
  display: inline-block;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0.5rem solid #1ba767;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 7rem 0 0;
  position: absolute;
  z-index: 1;
}
.recycle-step-box2 .recycle-step-list li:nth-child(1) {
  background: #fff url(../../img/main/recycle08.png) no-repeat 50% 50%;
  top: -10%;
  background-size: 4rem;
  justify-content: center;
}
.recycle-step-box2 .recycle-step-list li:nth-child(2) {
  justify-self: flex-end;
  background: #fff url(../../img/main/recycle06.png) no-repeat 50% 50%;
  right: -10%;
  top: 30%;
  background-size: 4rem;
}
.recycle-step-box2 .recycle-step-list li:nth-child(3) {
  background: #fff url(../../img/main/recycle07.png) no-repeat 50% 50%;
  bottom: -10%;
  background-size: 4rem;
}
.recycle-step-box2 .recycle-step-list li:nth-child(4) {
  background: #fff url(../../img/main/recycle05.png) no-repeat 50% 50%;
  top: 30%;
  left: -10%;
  background-size: 4rem;
}

.recycle-step-box2 .txt-area {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.recycle-step-box2 .txt-area .txt p {
  font-size: 1.3rem;
}

.recycle-step-box2 .txt-area .txt strong {
  display: block;
  font-size: 1.5rem;
  color: var(--text-highlight);
}

/* 늘어나는 폐기물 */
.label-year {
  display: inline-flex;
  height: 3rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  width: 8rem;
  text-align: center;
  justify-content: center;
}

.recycle-step-box3 .graph-area .graph-box {
  background: url(../../img/main/recycle-info1-1-graph.png) no-repeat 50% 50%;
  width: 40rem;
  height: 30rem;
  background-size: 40rem 30rem;
  padding: 0 0 2.5rem 9rem;
}

.recycle-step-box3 .graph-area .graph-box .graph-line {
  display: block;
  width: 100%;
  height: 100%;
}

/*.recycle-step-box3 .graph-box {*/
/*  background: url(../../img/main/recycle-info1-1-graph.png) no-repeat 50% 50%;*/
/*  width: 30rem;*/
/*  height: 20rem;*/
/*  background-size: 30rem 20rem;*/
/*  padding: 0 0 2.5rem 7rem;*/
/*}*/

/*.recycle-step-box3 .graph-box .graph-line {*/
/*  display: block;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/* graph */
.st0 {
  fill: none;
  stroke: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
.st1 {
  fill: none;
  stroke: none;
  stroke-miterlimit: 10;
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  stroke-width: 10px;
  stroke-linecap: round;
}
.cir1 {
  animation: cirAni 0.3s linear 0.4s forwards;
}
.line1 {
  animation: lineAni 1s linear 0.8s forwards;
}
.cir2 {
  animation: cirAni 0.3s linear 1.2s forwards;
}
.line2 {
  animation: lineAni 1s linear 1.6s forwards;
}
.cir3 {
  animation: cirAni 0.3s linear 2s forwards;
}
.line3 {
  animation: lineAni 1s linear 2.4s forwards;
}
.cir4 {
  animation: cirAni 0.3s linear 2.8s forwards;
}
.line4 {
  animation: lineAni 1s linear 3.2s forwards;
}
.cir5 {
  animation: cirAni 0.3s linear 3.6s forwards;
}
.line5 {
  animation: lineAni 1s linear 4s forwards;
}
.cir6 {
  animation: cirAni 0.3s linear 4.4s forwards;
}
@keyframes cirAni {
  0% {
    fill: #fff;
    stroke: #2fa0ba;
  }
  100% {
    fill: #fff;
    stroke: #2fa0ba;
  }
}
@keyframes lineAni {
  0% {
    stroke-dashoffset: 500;
    stroke: #bfd873;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #bfd873;
  }
}

/* 전국 쓰레기산 */
.recycle-step-box4 .obj-area .total-num-box {
  display: inline-block;
  padding: 0 4rem;
}

.recycle-step-box4 .obj-area .total-num-box .label {
  display: block;
  width: 15rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: #c4e663;
  font-size: 22px;
  line-height: 3.6rem;
  margin-bottom: 0.1rem;
}
.recycle-step-box4 .obj-area .total-num-box .num {
  display: inline-block;
  letter-spacing: -0.5px;
}
.obj-area .total-num-box .num strong {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;
}
.obj-area .txt,
.graph-area .txt {
  display: block;
  font-size: 1.8rem;
  padding: 2rem 0 0;
}

.obj-area .total-num-box .num .txt {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  top: -0.3rem;
}

.obj-area .obj-box {
  padding: 2rem 0 0;
}

.obj-area .obj {
  display: inline-block;
  background: url(../../img/main/trashtruck.png) no-repeat 50% 50%;
  background-size: 40rem 20rem;
  width: 40rem;
  height: 20rem;
}

/* 빠르고 간편한 일회용품 */
.graph-obj-area .graph-obj-box {
  display: inline-flex;
  width: 30rem;
  height: 25rem;
  border-bottom: 1px solid #7f7f7f;
  text-align: center;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3rem;
}

.graph-obj-area .graph-obj-box .graph-line-set {
}

.graph-obj-area .graph-obj-box .graph-obj {
  background: url(../../img/main/cup.png) no-repeat 50% 50%;
  background-size: 8rem 15rem;
  width: 10rem;
  height: 15rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.graph-obj-area .graph-obj-box .graph-obj .graph-obj-txt {
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 1;
}
.graph-obj-area .graph-obj-box .graph-obj .graph-obj-txt strong {
  display: block;
}

.graph-obj-area .graph-obj-box .graph-line-set.set2 {
  left: auto;
  right: 0;
}

.graph-obj-area .graph-obj-box .graph-line-set.set2 .graph-line {
  height: 19rem;
  background-color: #00a0e9;
}
.graph-obj-area .graph-obj-box .graph-line-set .graph-line {
  display: inline-block;
  width: 5rem;
  height: 8rem;
  background-color: #7fcff4;
  border-radius: 3.5rem 3.5rem 0 0;
  position: relative;
}

.graph-obj-area .graph-obj-box .graph-line-set .graph-line .txt-year {
  width: 5rem;
  display: inline-block;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.graph-obj-area .graph-obj-box .graph-line-set .num {
  min-width: 10rem;
}

.graph-obj-area .graph-obj-box .graph-line-set .num strong {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

.graph-obj-area .graph-obj-box .graph-line-set .num .txt {
  display: inline-block;
  font-size: 1.7rem;
  position: relative;
  top: -3px;
}

.graph-obj-area .graph-obj-box.box2 .graph-obj {
  background-image: url(../../img/main/bag.png);
  width: 10rem;
}

/* 일회용품 OUT */
.section-seventh .animation-content-inner {
  width: 100% !important;
}

.recycle-step-box6 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.recycle-step-box6 .recycle-info-box {
  display: flex;
  width: 36rem;
  height: 36rem;
  border: 0.1rem solid #ccc;
  background-color: #fff;
  text-align: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.recycle-step-box6 .recycle-info-box .graph-top-set {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.recycle-info-box .graph-top-set .graph-line {
  display: inline-block;
  background: url(../../img/main/arrow.png) no-repeat 50% 50%;
  background-size: 19rem 9.7rem;
  width: 19rem;
  height: 9.7rem;
}

.recycle-info-box .graph-top-set .num strong {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}

.recycle-info-box .graph-top-set .num .txt {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  top: -3px;
}

.recycle-info-box .graph-obj-box {
  display: inline-flex;
  width: 27rem;
  height: 28rem;
  border-bottom: 1px solid #7f7f7f;
  text-align: center;
  position: relative;
  overflow: hidden;
  justify-content: space-around;
}

.recycle-info-box .graph-line-set {
  position: absolute;
  bottom: -4px;
  left: 17px;
}

.recycle-info-box .graph-line-set .graph-line {
  display: inline-flex;
  width: 4.8rem;
  height: 18rem;
  background-color: #7fcff4;
  border-radius: 2.4rem 2.4rem 0 0;
  position: relative;
  justify-content: center;
}

.recycle-info-box .graph-line-set .graph-line .txt-year {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1.2rem;
  line-height: 4rem;
  margin-top: 0.5rem;
}

.recycle-info-box .graph-line-set .num {
  display: block;
  position: absolute;
  top: -33px;
  left: -20px;
  min-width: 100px;
  letter-spacing: -1px;
}

.recycle-info-box .graph-obj {
  display: inline-flex;
  background: url(../../img/main/cup.png) no-repeat 50% 100%;
  width: 10rem;
  height: 15rem;
  background-size: 10rem 15rem;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.recycle-info-box.box2 .graph-obj {
  background-image: url(../../img/main/bag.png);
  /*width: 98px;
  background-size: 98px;*/
  padding-right: 0;
}

.recycle-info-box .graph-obj .graph-obj-txt {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 4rem;
  color: #fff;
}
.recycle-info-box .graph-line-set.set2 {
  left: auto;
  right: 17px;
}

.recycle-info-box .txt-box {
  padding: 0.8rem 0 0;
}

.recycle-info-box .txt-box .txt strong {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1;
}

.recycle-info-box .txt-box .txt .label {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 1rem;
  background-color: #ffdfb1;
  border-radius: 2rem;
  margin-top: 0.7rem;
}

.recycle-info-box .graph-line-set.set2 .graph-line {
  height: 90px;
  background-color: #00a0e9;
}

/* 깔끔함 포장 박스*/
.recycle-info-box .txt-top-box {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1rem;
}

.recycle-info-box .txt-top-box .txt {
  font-size: 2rem;
  line-height: 1;
}

.recycle-info-box .txt-top-box .txt-em {
  display: block;
  font-size: 3rem;
  line-height: 1;
  padding: 0.1rem 0 0;
}

.recycle-info-box .txt-top-box .txt-em strong {
  font-weight: 700;
}

.recycle-info-box .obj-box {
  display: inline-flex;
  width: 27rem;
  height: 28rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.recycle-info-box .obj {
  display: inline-flex;
  background: url(../../img/main/recyclebox.png) no-repeat 50% 100%;
  background-size: 20rem 18rem;
  width: 20rem;
  height: 18rem;
  position: absolute;
  bottom: 2px;
  justify-content: center;
  align-items: center;
}
.recycle-info-box .obj .obj-txt {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 4rem;
  color: #fff;
}
/* resize */
@media screen and (max-width: 991px) {
  .main-auto {
    height: auto !important;
  }
}

@media screen and (max-width: 680px) {
  #fp-nav {
    display: none;
  }
  .intro-main {
    padding: 1rem;
  }

  .animation-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recycle-step-box1 {
    width: 80vw !important;
  }

  .recycle-step-box1 .recycle-step-list .list-content {
    width: 8rem;
    height: 8rem;
  }
  .recycle-step-box1 .recycle-step-list .list-content .ico {
    width: 6rem;
    height: 6rem;
  }
  .recycle-arrow {
    width: 6rem;
    height: 6rem;
  }
  .arr-area {
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
  }

  .arr-area .arr {
    border-left: 2rem solid transparent;
    border-top: 2rem solid #1ba767;
    border-right: 2rem solid transparent;
    border-bottom: none;
  }

  .recycle-step-box1 .recycle-step-list li:nth-child(1) .ico {
    background-size: 4rem;
  }
  .recycle-step-box1 .recycle-step-list li:nth-child(2) .ico {
    background-size: 4rem;
  }
  .recycle-step-box1 .recycle-step-list li:nth-child(3) .ico {
    background-size: 4rem;
  }

  .recycle-step-box1 .recycle-step-list li:nth-child(4) .ico {
    background-size: 4rem;
  }
}

.recycle-info-box .graph-line-set .num strong {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.recycle-info-box .graph-line-set .num .txt {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
}

@media (min-width: 361px) and (max-width: 450px) {
  /* 지구 현재 시간 */
  .section-first .intro-title p {
    font-size: 4rem;
  }
}
@media (min-width: 279px) and (max-width: 360px) {
  /* 지구 현재 시간 */
  .section-first .intro-title p {
    font-size: 3rem;
  }

  /* 지구의 시간 */
  .ClassyCountdown-wrapper > div {
    min-width: 7rem;
  }
}

@media screen and (max-width: 280px) {
  /* 지구의 시간 */
  .ClassyCountdown-wrapper > div {
    min-width: 6rem;
  }
}

/* animation */
@keyframes arr1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes arr2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes arr3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes recycle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
