@charset "utf-8";
/*
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: css/personal/style.zzang.css
    Create by 지구방위대, 정윤아 on 2021-05-21 05:58:30.
*/

.main {
  display: flex;
  align-items: stretch;
}
.container-fluid,
.container-fluid div {
  display: flex;
  flex: 1;
}

/* fullPage */

.fp-tableCell {
  vertical-align: top !important;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}
#fp-nav ul li a span {
  text-indent: -9999px;
}
#fp-nav.right {
  right: 70px;
}
#fp-nav ul li a.active + .fp-tooltip {
  display: block !important;
}
.ft .fp-tableCell {
  vertical-align: bottom;
}
.last {
  display: none !important;
}

/* 자원순환 */
.recycle-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* 자원순환 정의 */
.recycle-define {
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  font-weight: bold;
}

.recycle-step1 {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 자원순환 step box 1 */

.recycle-step1 .recycle-step-inner1 {
  flex-direction: row;
  justify-content: center;
  padding: 85px 0 0;
  flex-wrap: wrap;
  display: inline-flex;
}

.recycle-step-inner1 .recycle-step-box {
  flex-basis: 650px;
  display: inline-block;
  width: 650px;
  border: 2px solid #1ba767;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}

.recycle-step-inner1 .recycle-step-box .tit {
  display: block;
  width: 100%;
  background-color: #1ba767;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  padding: 15px 15px 18px;
  font-weight: 400;
}
.recycle-step1 .recycle-step-inner1 .recycle-step-box .recycle-step-list li {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 100px 0 0;
  text-align: left;
}

.recycle-step-inner1 .recycle-step-box .recycle-step-list {
  padding: 40px 0 30px;
  text-align: center;
}

.recycle-step-box .recycle-step-list li .ico {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
}

/* 텍스트 */
.recycle-step-box .recycle-step-list li .ico-txt {
  display: inline-block;
  font-size: 15px;
  padding-left: 30px;
}

.recycle-step-box .recycle-step-list li .fa-arrow-right {
  width: 30px;
  height: 8px;
  top: 40px;
  right: 15px;
}

/* 애니메이션 화살표 */

/* 화살표 */
.recycle-step-inner1 .arr-area {
  flex-basis: 88px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.recycle-step-inner1 .arr-area .arr {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 22px solid #1ba767;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.recycle-step-inner1 .arr-area .arr.arr1 {
  animation: arr1 1s infinite;
}
.recycle-step-inner1 .arr-area .arr.arr2 {
  animation: arr2 1s 0.15s infinite;
}
.recycle-step-inner1 .arr-area .arr.arr3 {
  animation: view 1s 0.3s infinite;
}

/* 자원순환 step box2 */
.recycle-step1 .recycle-step-inner2 {
  justify-content: flex-end;
  position: relative;
  padding: 45px;
}
.recycle-step-inner2 .recycle-step-box {
  flex-basis: 455px;
  display: inline-block;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  border: 32px solid #f2f2f2;
  background-color: #fff;
}
.recycle-step-inner2 .recycle-step-box .recycle-arr {
  display: inline-block;
  /*background: url(../images/contents/recycle-step1-arr2.png) no-repeat 50% 50%;*/
  width: 318px;
  height: 319px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -161px 0 0 -159px;
  animation: cycle1 50s infinite;
}
.recycle-step-inner2 .recycle-step-box .recycle-step-list {
  position: relative;
  width: 100%;
  height: 100%;
}
.recycle-step-inner2 .recycle-step-box .recycle-step-list li {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #1ba767;
  box-shadow: 0 10px 10px 0 rgb(0 0 0.1);
  text-align: center;
  padding: 70px 0 0;
  position: absolute;
  z-index: 1;
}
.recycle-step-inner2 .recycle-step-box .recycle-step-list li:nth-child(1) {
  background: #fff no-repeat 50% 15px;
  top: 0;
  left: 50%;
  margin: -65px 0 0 -55px;
  background-size: 32px 46px;
}

.recycle-step-inner2 .recycle-step-box .recycle-step-list li:nth-child(2) {
  background: #fff no-repeat 50% 15px;
  top: 50%;
  right: 0;
  margin: -55px -65px 0 0;
  background-size: 34px 45px;
}

.recycle-step-inner2 .recycle-step-box .recycle-step-list li:nth-child(3) {
  background: #fff no-repeat 50% 20px;
  bottom: 0;
  left: 50%;
  margin: 0 0 -65px -55px;
  background-size: 42px 41px;
}

.recycle-step-inner2 .recycle-step-box .recycle-step-list li:nth-child(4) {
  background: #fff no-repeat 50% 20px;
  top: 50%;
  left: 0;
  margin: -55px 0 0 -65px;
  background-size: 45px 43px;
}

.recycle-step-inner2 .recycle-step-box .recycle-step-list li .ico-txt {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
}
.recycle-step-inner2 .recycle-step-box .txt-area {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.recycle-step1 .recycle-step-inner2 .recycle-step-box .txt-area .txt {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.5px;
}
/*//애니메이션*/
@keyframes arr1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes arr2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes view {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
