@charset "utf-8";
/*
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: css/personal/style.park.css
    Create by 지구방위대, 박천송 on 2021-05-21 05:56:37.
*/

/* 대체품 소개하기 */
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.replace-bak div {
  height: 22rem;
}
