@charset "utf-8";
/*
    Copyright © 2021 지구방위대.
    ProjectName: saveEarthWebPJ
    FilePath: css/personal/style.hong.css
    Create by 지구방위대, 홍예지 on 2021-05-21 05:56:26.
*/

/* 지구방위대 2021-05-21 17:59:49, 정윤아 Front-end Dev */
/* 지구방위대 2021-05-27 04:43:00, 송예지 Design */

/* 소개하기 */
.zerowaste-img {
  width: 20rem;
  height: 20rem;
}
/* 회색 박스 */
.intro_gray_box {
  background: #e7e7e7;
  padding: 3rem;
  margin-bottom: 3rem;
}
.green {
  color: #34a853;
}

.gray {
  background-color: #e7e7e7;
}

.red {
  color: red;
}

.size {
  font-size: 2.3em;
  margin-bottom: 100px;
}

.size_2 {
  font-size: 3em;
  margin-bottom: 50px;
}

.size_3 {
  font-size: 2.5em;
}

.box_size {
  padding: 50px;
  margin-bottom: 200px;
}

.box_size_1 {
  padding: 50px;
}

.icon {
  margin-top: 50px;
  margin-left: 90px;
  width: 200px;
  height: 200px;
}

.icon_2 {
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

.icon_box {
  margin-left: 100px;
  margin-top: 50px;
  width: 400px;
  height: 400px;
}

.icon_box_2 {
  width: 595.6px;
  height: 450px;
}

/* 문의하기 */
.answer {
  display: none;
  padding-bottom: 1.875rem;
  border: none;
}
#faq-title {
  font-size: 1.563rem;
  width: 62.5rem;
  text-align: center;
  margin: 6.25rem;
  border: none;
}

.faq-content {
  border-bottom: 0.1rem solid #d0bba2;
}
[id$="-toggle"] {
  margin-right: 0.938rem;
}

.answer {
  display: none;
  padding: 1.875rem;
  border: none;
  font-size: 1.1rem;
  color: var(--text-general);
  line-height: 2rem;
  background-color: var(--sub-background);
}
#faq-title {
  font-size: 1.563rem;
  width: 62.5rem;
  text-align: center;
  margin: 6.25rem;
  border: none;
}
.question {
  font-size: 1.188rem;
  font-weight: 600;
  padding: 1.5rem 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  text-align: left;
  color: var(--text-bold);
}
.question:hover {
  color: #2962ff;
  border: none;
}
[id$="-toggle"] {
  margin-right: 0.938rem;
}

.backimg {
  min-height: -moz-calc(100vh - 4.5rem); /* Firefox */
  min-height: -webkit-calc(100vh - 4.5rem); /* Chrome, Safari */
  min-height: calc(100vh - 4.5rem);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: bottom;
  background-image: url("../../img/background/faq.png");
}

/* 소개하기 */
.intro-card .card-group {
  width: 100%;
  justify-content: space-around;
  display: inline-flex;
}

.intro-card .card {
  border-radius: 4rem;
}

.intro-card p {
  font-size: 1.5rem;
}

/* 문의하기 */
.question-intro {
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.question-card {
  width: 70rem;
  height: 70rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none !important;
}

.question-card .card-title {
  text-align: center;
  margin: 1.5rem 0;
  color: #4e7948;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.question-card .form-group {
  justify-content: start;
  display: flex;
  flex-direction: column;
}
.question-card .form-group label {
  text-align: left;
}

.question-card .card-title {
  text-align: center;
  margin: 1.5rem 0;
  color: #4e7948;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  background-image: url("../../img/background/faq.png");
}
